body{
    background: rgb(215, 212, 212);
    margin: 0;
}
div{
    box-sizing: border-box;
}
header{
    background: white;
    padding: 10px;
}
header h1{
    margin: 0;
}
div.publicacion{
    background: white;
    margin-top: 10px;
}
div.publicacion img{
    width: 100%;
}
div.publicacion .publicacion-1 div:first-child{
    display: inline-block;
    width: 80%;
}
div.publicacion .publicacion-1 div:last-child{
    display: inline-block;
    width: 18%;
    text-align: right;
}
div.publicacion h2, div.publicacion p{
    padding: 5px;
}
div.nav{
    width: 600px;
    margin: auto;
}